<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container field name">
    <p>名前</p>
    <%= f.text_field :title %>
    <p>ホームページ</p>
    <%= f.text_field :url %>
  </div>
  <div class="container field latitude">
    <p>緯度</p>
    <%= f.text_field :latitude %>
    <p>経度</p>
    <%= f.text_field :longitude %>
  </div>
  <div class="container field other">
    <p>その他</p>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn default-btn" %>
  </div>
<% end %>

<head>
  <style>
    @media only screen and (max-width: 600px) {
      .name, .other {
        float: left;
      }
      .latitude .actions {
        float: right;
      }
      .actions {
        margin-top: 50px;
        margin-left: 50px;
      }
    }
 </style>
</head>
