<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group" id="name_div">
    <span class="input-group-addon">名前</span>
    <%= f.text_field :title, placeholder:'必須（自動入力）', class: 'form-control', id:'name_input' %>
  </div>
  <div class="input-group" id="address_div">
    <span class="input-group-addon">住所</span>
    <%= f.text_field :address, placeholder:'必須', class: 'form-control', id:'address_input' %>
  </div>
  <div class="input-group" id="url_div">
    <span class="input-group-addon">ホームページ</span>
    <%= f.text_field :url, placeholder:'任意', class: 'form-control', id:'url_input' %>
  </div>
  <div class="input-group" id="other_div">
    <span class="input-group-addon">その他</span>
    <%= f.text_area :content, placeholder:'任意　混雑状況、開館時間など', class: 'form-control', rows:5, id:'other_input' %>
  </div>
  <%= f.hidden_field :longitude, id:'long_input' %>
  <%= f.hidden_field :latitude , id:'lat_input' %>
  <div class="actions" id="submit_btn">
    <%= f.submit "登録", class:"btn btn-info col-md-offset-5" %>
  </div>
<% end %>

<head>
  <style>
    @media only screen and (min-width: 600px) {
      .edit_place {
        width: 30%;
      }
      .edit_place .input-group {
        margin-bottom: 15px;
      }
    }
 </style>
</head>
