<p id="notice"><%= notice %></p>

<h1 class='wf-mplus1p index_title' style="font-weight: 400;">
  <% if @prefecture.present? %>
    <%= @prefecture %>の<% end %>卓球場一覧
</h1>

<div class="d-flex search-div">
  <div class="row justify-content-around">

    <div class="dropdown search col-xs-4">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">都道府県絞り込み</button>
      <div class="dropdown-menu">
        <%= link_to '東京都', places_path(prefecture: '東京都'), class: 'dropdown-item' %>
        <%= link_to '神奈川県', places_path(prefecture: '神奈川県'), class: 'dropdown-item' %>
        <%= link_to '千葉県', places_path(prefecture: '千葉県'), class: 'dropdown-item' %>
        <%= link_to '埼玉県', places_path(prefecture: '埼玉県'), class: 'dropdown-item' %>
        <%= link_to '茨城県', places_path(prefecture: '茨城県'), class: 'dropdown-item' %>
        <%= link_to '群馬県', places_path(prefecture: '群馬県'), class: 'dropdown-item' %>
        <%= link_to '栃木県', places_path(prefecture: '栃木県'), class: 'dropdown-item' %>
        <%= link_to '北海道', places_path(prefecture: '北海道'), class: 'dropdown-item' %>
        <%= link_to '青森県', places_path(prefecture: '青森県'), class: 'dropdown-item' %>
        <%= link_to '秋田県', places_path(prefecture: '秋田県'), class: 'dropdown-item' %>
        <%= link_to '岩手県', places_path(prefecture: '岩手県'), class: 'dropdown-item' %>
        <%= link_to '山形県', places_path(prefecture: '山形県'), class: 'dropdown-item' %>
        <%= link_to '宮城県', places_path(prefecture: '宮城県'), class: 'dropdown-item' %>
        <%= link_to '福島県', places_path(prefecture: '福島県'), class: 'dropdown-item' %>
        <%= link_to '新潟県', places_path(prefecture: '新潟県'), class: 'dropdown-item' %>
        <%= link_to '長野県', places_path(prefecture: '長野県'), class: 'dropdown-item' %>
        <%= link_to '富山県', places_path(prefecture: '富山県'), class: 'dropdown-item' %>
        <%= link_to '石川県', places_path(prefecture: '石川県'), class: 'dropdown-item' %>
        <%= link_to '岐阜県', places_path(prefecture: '岐阜県'), class: 'dropdown-item' %>
        <%= link_to '山梨県', places_path(prefecture: '山梨県'), class: 'dropdown-item' %>
        <%= link_to '静岡県', places_path(prefecture: '静岡県'), class: 'dropdown-item' %>
        <%= link_to '愛知県', places_path(prefecture: '愛知県'), class: 'dropdown-item' %>
        <%= link_to '福井県', places_path(prefecture: '福井県'), class: 'dropdown-item' %>
        <%= link_to '滋賀県', places_path(prefecture: '滋賀県'), class: 'dropdown-item' %>
        <%= link_to '三重県', places_path(prefecture: '三重県'), class: 'dropdown-item' %>
        <%= link_to '京都府', places_path(prefecture: '京都府'), class: 'dropdown-item' %>
        <%= link_to '大阪府', places_path(prefecture: '大阪府'), class: 'dropdown-item' %>
        <%= link_to '奈良県', places_path(prefecture: '奈良県'), class: 'dropdown-item' %>
        <%= link_to '和歌山県', places_path(prefecture: '和歌山県'), class: 'dropdown-item' %>
        <%= link_to '兵庫県', places_path(prefecture: '兵庫県'), class: 'dropdown-item' %>
        <%= link_to '鳥取県', places_path(prefecture: '鳥取県'), class: 'dropdown-item' %>
        <%= link_to '岡山県', places_path(prefecture: '岡山県'), class: 'dropdown-item' %>
        <%= link_to '広島県', places_path(prefecture: '広島県'), class: 'dropdown-item' %>
        <%= link_to '島根県', places_path(prefecture: '島根県'), class: 'dropdown-item' %>
        <%= link_to '山口県', places_path(prefecture: '山口県'), class: 'dropdown-item' %>
        <%= link_to '香川県', places_path(prefecture: '香川県'), class: 'dropdown-item' %>
        <%= link_to '徳島県', places_path(prefecture: '徳島県'), class: 'dropdown-item' %>
        <%= link_to '高知県', places_path(prefecture: '高知県'), class: 'dropdown-item' %>
        <%= link_to '愛媛県', places_path(prefecture: '愛媛県'), class: 'dropdown-item' %>
        <%= link_to '福岡県', places_path(prefecture: '福岡県'), class: 'dropdown-item' %>
        <%= link_to '大分県', places_path(prefecture: '大分県'), class: 'dropdown-item' %>
        <%= link_to '熊本県', places_path(prefecture: '熊本県'), class: 'dropdown-item' %>
        <%= link_to '宮崎県', places_path(prefecture: '宮崎県'), class: 'dropdown-item' %>
        <%= link_to '鹿児島県', places_path(prefecture: '鹿児島県'), class: 'dropdown-item' %>
        <%= link_to '佐賀県', places_path(prefecture: '佐賀県'), class: 'dropdown-item' %>
        <%= link_to '長崎県', places_path(prefecture: '長崎県'), class: 'dropdown-item' %>
        <%= link_to '沖縄県', places_path(prefecture: '沖縄県'), class: 'dropdown-item' %>
      </div>
    </div>

    <div class="search col-xs-4">
      <%= search_form_for @q do |f| %>
        <div class="input-group title-search">
          <%= f.search_field :title_cont, class: 'form-control', placeholder:'名前を検索' %>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">検索</button>
          </span>
        </div>
      <% end %>
    </div>

    <div class="search col-xs-4">
      <button class="btn btn-primary" type="button" href="/places"><span class="mobile_hide">絞り込みを</span>元に戻す</button>
    </div>

  </div>
</div>

<div class="d-flex card-grid">
  <div class="row justify-content-around">
    <% @places.each do |place| %>

      <div class="card wf-mplus1p">
        <% if place.photos.present? %>
          <% place.photos.each do |photo| %>
            <%= image_tag photo.image.url, class: 'card-img-top' %>
          <% end %>
        <% else %>
          <%= image_tag '/assets/images/no_photo_available.jpg', class: 'card-img-top' %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= place.title %></h4>
          <p class="card-text">
            <% if place.address.size > 0 %>
              <%= place.address %>
            <% else %>
              住所未登録
            <% end %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to '詳細', place, class:'btn btn-primary show_btn' %>
          <% if place.url.present? %>
            <%= link_to 'HP', place.url, class:'btn btn-primary show_btn' %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<div class="d-flex">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <%= paginate @places, window: 2, theme: 'custom_theme' %>
    </div>
  </div>
</div>
<div class="d-flex">
  <div class="row justify-content-center">
    <div class="col-xs-12 page-numbers">
      <%= page_entries_info @places %>
    </div>
  </div>
</div>
