<p id="notice"><%= notice %></p>

<h1 class='wf-mplus1p index_title' style="color:white;">卓球場一覧</h1>

<% @places.each do |place| %>

  <div class='place_grid'>
    <!-- title -->
    <p class='wf-mplus1p index_title'><%= place.title %></p>
    <!-- 住所 -->
    <p class='wf-mplus1p'>
      <% if place.address.size > 0 %>
        <%= place.address %>
      <% else %>
        <div class='unavailable'>住所未登録</div>
      <% end %>
    </p>
    <!-- url -->
    <p class='wf-mplus1p url_p'>
      <% if place.url.size > 0 %>
        <a href="<%= place.url %>" target="_blank">ホームページ</a>
      <% else %>
        <div class='unavailable'>HP未登録</div>
      <% end %>
    </p>
    <%= link_to '詳細', place, class:'btn btn-info show_btn' %>
    <%= link_to 'HP', place.url, class:'btn btn-info url_btn' %>
  </div>

<% end %>

<%= link_to '新しい卓球場を登録', new_place_path, class:"btn btn-success" %>

