<p id="notice" style="color:white"><%= notice %></p>

<div class="container">

  <div class="show_text">
    <p>
      <strong>卓球場名</strong><br>
      <%= @place.title %>
    </p>

    <p>
      <strong>ホームページ</strong><br>
      <% if @place.url.size > 0 %>
        <a href=<%= @place.url %> style="color:white"><%= @place.url %></a>
      <% else %>
        未登録
      <% end %>
    </p>

    <p>
      <strong>その他</strong><br>
      <%= @place.content %>
    </p>

    <p>
      <strong>緯度</strong><br>
      <%= @place.latitude %>
    </p>
    <p>
      <strong>経度</strong><br>
      <%= @place.longitude %>
    </p>

	<%= link_to 'Edit', edit_place_path(@place), class:'btn btn-default' %>
	<%= link_to 'Back', places_path, class:'btn btn-default'%>
  </div>

  <div class="show_map" id="map" style="width:620px; height:400px"></div>
  <br>

</div>

<script type="text/javascript">

	var map;

	function initMap() {

    var myLatLng = {lat: <%=@place.latitude %>, lng: <%= @place.longitude %> };

		map = new google.maps.Map(document.getElementById('map'), {
			center: myLatLng,
			zoom: 17
		});

		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
      title: "<%= @place.title %>"
		});
	}

</script>

<script async defer 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1UBETjFq1eApVpLAX-JdAz3tsHf7Bpsc&callback=initMap">
</script>
