<%= javascript_include_tag "/assets/javascripts/top" %>
<div class="parent">
  <div class="child">
    <p class="wf-mplus1p main_text" style="font-weight:500;">練習場所がない！</p>
    <p class="wf-mplus1p sub_text">そんな人のために、全国の卓球場情報を集約</p>
    <div class="total-div wf-mplus1p" style="font-weight:500;">
      <%= @places_num %>
    </div>
    <div class="wf-mplus1p num_text">合計卓球場登録数</div>
    <div class="twitter_div">
      <p class="wf-mplus1p sub_text">SNSでシェア</p>
      <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://takkyuumap.com" data-text="全国450以上のの卓球場情報を集約した「卓球マップ」、現在地や地名から検索も！" data-hashtags="卓球マップ">Tweet</a></p>
    </div>
  </div>
</div>

<div class="parent_circle">
  <div class="top">
    <p class="wf-mplus1p">地名で検索</p>
    <%= form_tag({ controller: :places, action: :map}, {method: :get}) do %>
      <div class="input-group top_input">
        <%= text_field_tag :search, '', class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag '検索', class: 'btn btn-secondary' %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="bottom">
    <%= link_to '現在地から検索', map_path(current: true), class: "wf-mplus1p circle left" %>
    <%= link_to '一覧を表示', places_path, class: "wf-mplus1p circle right" %>
  </div>
</div>

<div class="mobile_twitter_div text-center">
  <p class="wf-mplus1p sub_text">SNSでシェア</p>
  <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://takkyuumap.com" data-text="全国450以上のの卓球場情報を集約した「卓球マップ」、現在地や地名から検索も！" data-hashtags="卓球マップ">Tweet</a></p>
</div>
