<!DOCTYPE html>
<html>
<head>
  <title>卓球マップ</title>
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>MENU <%= image_tag("menu.png", :class => "menu_icon") %></i>
        </button>
        <a class="li_head wf-mplus1p navbar-brand page-scroll" href="/">卓球マップ</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="page-scroll wf-mplus1p" href="/">トップ</a></li>
          <li><a class="page-scroll wf-mplus1p" href="/places">卓球場一覧</a></li>
          <li><a class="page-scroll wf-mplus1p" href="/places/new">卓球場を登録</a></li>
          <li><a class="page-scroll wf-mplus1p" href="/about">当サイトについて</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
                 <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><a class="page-scroll" href="/users/sign_in">ログイン</a></li>
          <% end %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

<!--
  <li class="li_icon" ><%= image_tag("menu.png", :class => "menu_icon") %></li>
-->
  <div class="container yield_container">
    <%= yield %>
  </div>

  <div class="footer"></div>

  <%= render 'layouts/footer' %>

</body>
</html>
